---
import Banner from '../components/Banner.astro'
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Contact | Pages">
	<!-- banner -->
	<Banner title="Contact Me" />

	<section></section>

	<!-- main -->
</MainLayout>
