---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home | Pages - BookStore">
    <header>
        <div class="flex container gap-[5.94rem]">
            <!-- left col -->
            <div class="flex flex-1">1</div>
            <!-- right col -->
            <div class="flex flex-1">2</div>
        </div>
    </header>
</MainLayout>