---
import Banner from '../components/Banner.astro'
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Services| Pages">
	<!-- banner -->
	<Banner title="Services" />

	<section></section>

	<!-- main -->
</MainLayout>
