---
// components
import { Image } from 'astro:assets'
import MainLayout from '../layouts/MainLayout.astro'
import Heading from '../components/Heading.astro'
import Icon from 'astro-icon'
import USPSection from '../components/sections/USPSection.astro'
---

<MainLayout title="Atomic Ones | Pages">
	<!-- single product -->
	<section id="single-product" class="text-primary">
		<!-- single product wrapper -->
		<div
			class="container grid grid-cols-1 items-center justify-center gap-8 px-5 py-10 md:grid-cols-2 lg:flex-row lg:gap-[5.38rem] lg:py-[9rem]"
		>
			<!-- left col - book cover -->
			<div class="flex min-h-[650px] w-full max-w-[580px] items-center justify-center bg-[#F5F8FC]">
				<Image
					src={'/images/hero-book.jpg'}
					alt="Atomic One"
					width={380}
					height={509}
					class="w-full max-w-[380px]"
				/>
			</div>
			<!-- right col - book details -->
			<div class="flex flex-col gap-4">
				<!-- book title -->
				<Heading variant="h1" classes="text-3xl md:text-5xl">The Atomic One</Heading>

				<!-- price -->
				<h3 class="text-3xl font-bold text-secondary">$30.00 USD</h3>

				<!-- book short description -->
				<p>
					Making this the first true generator on the Internet. It uses a dictionary of over 200
					Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
					which looks reasonable. The generated Lorem Ipsum.
				</p>

				<!-- book info -->
				<div class="flex flex-col gap-3">
					<p class="flex items-center gap-5 text-xl font-bold">
						Publisher <span class="">:</span>
						<span class="">Learning Private Ltd. (Jan 1 2021)</span>
					</p>
					<p class="flex gap-5 text-xl font-bold">
						Language <span class="">:</span>
						<span class="">English</span>
					</p>
					<p class="flex gap-5 text-xl font-bold">
						Paperback <span class="">:</span>
						<span class="">212 pages</span>
					</p>
					<p class="flex gap-5 text-xl font-bold">
						ISBN-10 <span class="">:</span>
						<span class="">9788120345799</span>
					</p>
					<p class="flex gap-5 text-xl font-bold">
						Dimensions <span class="">:</span>
						<span class="">20 x 14 x 4 cm</span>
					</p>
				</div>

				<!-- add to cart -->
				<div class="mt-5 flex items-center gap-3">
					<input
						min="1"
						max="10"
						type="number"
						name="qty"
						id="qty"
						class="border border-secondary p-3 py-[1.31rem] text-center font-cardo text-xl font-bold text-black"
						value="1"
					/>

					<button
						type="button"
						class="group flex w-full max-w-[23.5625rem] items-center justify-center gap-3 border border-secondary bg-secondary px-5 py-[1.31rem] text-primary transition duration-200 hover:border-primary hover:bg-primary"
					>
						<Icon name="mdi:cart-outline" class="h-6 w-6 text-primary group-hover:text-white" />
						<span class="font-cardo font-bold text-primary group-hover:text-white">Add to Cart</span
						>
					</button>
				</div>
			</div>
		</div>
	</section>

	<!-- product description & additional info - tabs -->
	<section id="tabs">
		<div
			class="container flex flex-col items-center justify-center px-5 py-10 md:px-7 lg:pb-[9rem]"
		>
			<!-- tabs controlls -->
			<!-- @ add additional tab controls in sync order with tab content -->
			<!-- @@ ex: 3rd control button will control the 3rd tab content container -->
			<div
				class="TABS mb-6 flex w-full flex-col items-center justify-center md:mb-12 md:flex-row md:gap-4"
			>
				<button
					type="button"
					id="tab1Btn"
					class="TAB__CONTROL w-full bg-primary px-[2.56rem] py-3 font-cardo text-lg font-bold uppercase text-white md:w-max"
					>Product Description</button
				>
				<button
					type="button"
					id="tab2Btn"
					class="TAB__CONTROL w-full bg-slate-100 px-[2.56rem] py-3 font-cardo text-lg font-bold uppercase text-primary md:w-max"
					>Additional Info</button
				>
			</div>

			<!-- tabs contents -->
			<!-- @ add additional tab content in sync order with tab controls -->
			<div
				id="tab1"
				class="TAB__CONTENT flex flex-col gap-5 text-primary md:flex-row md:gap-[5.75rem]"
			>
				<div class="flex flex-1 flex-col gap-2 md:gap-4">
					<Heading variant="h5">Do you offer discounts for education?</Heading>
					<p>
						There are many variations of passages of Lorem Ipsum available, but the majority have
						suffered alteration in some form, bypassed injected humour, or randomised words which
						don't look even slightly believable.
					</p>
				</div>
				<div class="flex flex-1 flex-col gap-2 md:gap-4">
					<Heading variant="h5">Is this book for me?</Heading>
					<p>
						There are many variations of passages of Lorem Ipsum available, but the majority have
						suffered alteration in some form, bypassed injected humour, or randomised words which
						don't look even slightly believable.
					</p>
				</div>
			</div>
			<div
				id="tab2"
				class="TAB__CONTENT hidden flex-col gap-5 text-primary md:flex-row md:gap-[5.75rem]"
			>
				<div class="flex flex-1 flex-col gap-2 md:gap-4">
					<Heading variant="h5">Do you offer discounts for education?</Heading>
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nisi ad dolore
						totam modi commodi officia dolorum expedita perspiciatis voluptatibus quidem ratione
						voluptatem doloremque animi iusto optio voluptate, debitis tempora, ex nesciunt.
						Tempora, minus? Mollitia delectus vero, sapiente dolor expedita tempora illo? Eaque amet
						quas vitae odio voluptatum totam explicabo.
					</p>
				</div>
				<div class="flex flex-1 flex-col gap-2 md:gap-4">
					<Heading variant="h5">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, aliquam.
					</Heading>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque incidunt mollitia enim,
						facere maiores impedit facilis earum quas cumque, ex nemo adipisci minima! Quidem
						eveniet voluptate nobis sequi nihil odio.
					</p>
				</div>
			</div>
		</div>
	</section>

	<USPSection />

	<!-- scripts -->
	<script>
		// @ TABS
		// @@ script for the tab function
		const controls: NodeListOf<HTMLButtonElement> = document.querySelectorAll('.TAB__CONTROL')
		const tabs: NodeListOf<HTMLDivElement> = document.querySelectorAll('.TAB__CONTENT')

		// 1. BY DEFAULT FIRST CONTROL AND TAB CONTENT WILL BE ACTIVE
		// 2. THEN LISTEN TO CLICK ON THE CONTROLS TO SHOW RELEVANT CONTENT
		controls.forEach((control: HTMLButtonElement, i: number) => {
			control.addEventListener('click', function () {
				// by defalt first control will be highlighted only
				controls.forEach((control) => {
					control.style.background = '#E8ECF2'
					control.style.color = '#1B3764'
				})

				// now, on click, highlight currently active control
				control.style.background = '#1B3764'
				control.style.color = '#FFFFFF'

				// hide other tabs content
				tabs.forEach((tab) => {
					tab.style.display = 'none'
				})

				// show currently active tab content
				tabs[i].style.display = 'flex'
			})
		})
	</script>
</MainLayout>
