---
import Banner from "../components/Banner.astro";
import Heading from "../components/Heading.astro";
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Style Guide" desc="There are many variations of passages of Lorem Ipsum available, have suffered alteration in some form.">
	<Banner title="Style Guide" />

	<div class="container px-3 md:px-5 w-full min-h-screen flex flex-wrap items-center justify-center md:items-start md:justify-center flex-col">
		<!-- // Links/Buttons -->
		<h1 class="mt-10 text-5xl md:text-7xl font-semibold capitalize text-primary font-cardo mb-10">Style Guide</h1>

		<div class="flex gap-3 items-center justify-between w-max flex-col md:flex-row">
			<Link link='/' type='primary'>Test Button </Link>
			<Link link='/' type='primary' size="lg">Test Button </Link>
			<Link link='/' type='outline'>Test Button </Link>
			<Link link='/' type='outline' size="lg">Test Button </Link>
		</div> <!-- \ Links/Buttons -->

		<!-- // Typography -->
		<div class="flex flex-col gap-3 mt-10">
			<Heading variant="h1">Heading H1 Title</Heading>
			<Heading variant="h2">Heading H2 Title</Heading>
			<Heading variant="h3">Heading H3 Title</Heading>
			<Heading variant="h4">Heading H4 Title</Heading>
			<Heading variant="h5">Heading H5 Title</Heading>
			<Heading variant="h6">Heading H6 Title</Heading>
		</div><!-- \ Typography -->
	</div>
</MainLayout>
