---
import Heading from "./Heading.astro";
import Hr from "./Hr.astro";
interface Props {
  title: string;
  desc?: string;
}

const { title, desc = "Pages | BookStore" } = Astro.props;
---

<!-- page banner / header -->
<section class="bg-primary">
  <div
    class="flex container min-h-[18.75rem] md:min-h-[32.9375rem] w-full max-w-[39.5625rem] text-center items-center justify-center flex-col"
  >
    <!-- banner title -->
    <Heading variant="h1" classes="text-white">{title}</Heading>
    <Hr />
    <!-- banner description -->
    <p class="text-light-blue">{desc}</p>
  </div>
</section>
