---
// asset imports
import Icon from 'astro-icon'

interface Props {
    iconName: string;
    link: string;
    label: string;
}

const {iconName, link, label } = Astro.props
---

<a  href={link} 
    target="_blank" 
    aria-label={label} 
    class:list={['text-center text-primary bg-white w-[45px] h-[45px] flex items-center justify-center hover:bg-transparent border border-white hover:text-white transition duration-200']}>
    <Icon name={iconName} class="h-[1.1875rem]"/>
</a>