---
import './../global.scss'
// component imports
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import GetTemplate from '../components/GetTemplate.astro'

// types and props
interface Props {
	title: string
	desc?: string
}

const { title = 'Pages | BookStore', desc } = Astro.props as Props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative mx-auto max-w-[1920px]">
		<!-- header navigation bar -->
		<Nav />

		<!-- main area -->
		<main class="mx-auto w-full max-w-[1920px] overflow-hidden bg-white">
			<slot />
		</main>

		<GetTemplate />

		<!-- footer -->
		<Footer />
	</body>

	<script>
		import Lenis from '@studio-freight/lenis'

		const lenis = new Lenis()

		function raf(time) {
			lenis.raf(time)
			requestAnimationFrame(raf)
		}

		requestAnimationFrame(raf)
	</script>
</html>
